---
layout: default
title: Categories
permalink: /category/
---

<h1>Tag: {{ page.tag }}</h1>
<a href="{{ site.baseurl }}/category/">← Back All Tags</a>
<hr>

{% assign target_slug = page.tag %}
{% assign match_posts = "" | split: "" %}

{% for post in site.posts %}
  {% for raw_tag in post.tags %}
    {% assign slug_t = raw_tag | slugify %}
    {% if slug_t == target_slug %}
      {% assign match_posts = match_posts | push: post %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% assign match_posts = match_posts | sort: "date" | reverse %}

{% if match_posts.size == 0 %}
<p>No articles under this tag.</p>
{% endif %}

{% for post in match_posts %}
<div class="posts-list-item">
  <span class="posts-list-item-name float-left">
    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
  </span>
  <span class="posts-list-item-date float-right">{{ post.date | date:"%Y-%m-%d" }}</span>
</div>
{% endfor %}