<!DOCTYPE html>
<html lang="{{ site.language }}">

<head>
  {% include head.html %}
</head>

<body>
  <div class="container-wrapper">
    <header class="container-header">
      {% include header.html %}
    </header>
    <main class="container-main">
      {{content}}
    </main>
    <div align="center"><script type="text/javascript" id="mapmyvisitors" src="//mapmyvisitors.com/map.js?d=2fCowSQ1VNv99I-K14comy4XH2UyWFjiVqGI3TXMLGU&cl=ffffff&w=a"></script></div>
    <div align="center"><script type="text/javascript" id="mapmyvisitors" src="//mapmyvisitors.com/map.js?d=2fCowSQ1VNv99I-K14comy4XH2UyWFjiVqGI3TXMLGU&cl=ffffff&w=a"></script></div>
    <footer class="container-footer">
      {% include footer.html %}
    </footer>
  </div>
</body>

</html>
