<!DOCTYPE html>
<html lang="{{ site.language }}">

<head>
  {% include head.html %}
</head>

<body>
  <div class="container-wrapper">
    <header class="container-header">
      {% include header.html %}
    </header>
    <main class="container-main">
      {{content}}
    </main>
    <script type='text/javascript' id='mapmyvisitors' src='https://mapmyvisitors.com/map.js?cl=ffffff&w=250&t=n&d=2fCowSQ1VNv99I-K14comy4XH2UyWFjiVqGI3TXMLGU'></script>
        <footer class="container-footer">
      {% include footer.html %}
    </footer>
  </div>
</body>

</html>
