---
layout: default
---

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>

<article class="container-post">
  <div class="post-title">
    <h1>{{ page.title }}</h1>
  </div>
  <div class="post-author">
    <span>{{ site.name }}</span>
  </div>
  <div class="post-content">
    {{ content }}
  </div>
  <div class="post-info">
    <div class="post-date">
      发布于：{{ page.date | date: "%Y-%m-%d" }}{% if page.last_modified_at %}, 更新于：{{ page.last_modified_at | date: "%Y-%m-%d" }}{% endif %}.
    </div>
    
    <div class="post-categories">
      <span>分类：</span>
      {% for category in page.categories %}
        {% assign cat_slug = category | slugify %}
        {% capture cat_url %}/category/{{ cat_slug }}{% endcapture %}
        <a href="{{ cat_url | relative_url }}" class="post-category">{{ category }}</a>
      {% endfor %}
    </div>
    
    <div class="post-tags">
      <span>标签：</span>
      {% for tag in page.tags %}
        {% assign tag_slug = tag | slugify %}
        {% capture tag_url %}/tag/{{ tag_slug }}{% endcapture %}
        <a href="{{ tag_url | relative_url }}" class="post-tag">{{ tag }}</a>
      {% endfor %}
    </div>
    
    <div class="post-tools">
      {% if page.next %}
      <div>
        <span>下一篇：</span><a href="{{ page.next.url | relative_url }}">{{ page.next.title }}</a>
      </div>
      {% endif %}
      {% if page.previous %}
      <div>
        <span>上一篇：</span><a href="{{ page.previous.url | relative_url }}">{{ page.previous.title }}</a>
      </div>
      {% endif %}
    </div>
    {% if site.comments %}
      {% include comments.html %}
    {% endif %}
    <div id="gitalk-container"></div>
    <script type="text/javascript">
      var title = location.pathname.substr(0, 50);
      var gitalk = new Gitalk({
          clientID: `Ov23liR8EziibgRCvc1n`,
          clientSecret: `ce66b1e85c5196d65b2c0ec9b3729d3e46566b1b`,
          repo: `blueflylabor.github.io`,
          owner: `blueflylabor`,
          admin: [`blueflylabor`],
          id: title
      });
      gitalk.render('gitalk-container');
    </script>
    </div>
</article>